# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

*.iml
/.idea
/out/
*.class
*.off
*.dat
*.dat9
java_pid4492.hprof.analysis/outgoing.off2
java_pid4492.hprof.analysis/outgoing.off1
java_pid4492.hprof.analysis/outgoing.off0
java_pid4492.hprof.analysis/outgoing.dat8
java_pid4492.hprof.analysis/outgoing.dat7
java_pid4492.hprof.analysis/outgoing.dat6
java_pid4492.hprof.analysis/outgoing.dat5
java_pid4492.hprof.analysis/outgoing.dat4
java_pid4492.hprof.analysis/outgoing.dat3
java_pid4492.hprof.analysis/outgoing.dat2
java_pid4492.hprof.analysis/outgoing.dat10
java_pid4492.hprof.analysis/outgoing.dat1
java_pid4492.hprof.analysis/outgoing.dat0
java_pid4492.hprof
